html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #fff;
  background: linear-gradient(180deg, #0A1326, #162D59, #23468C, #2953A6);
}

.navbar {
  background-color: #1b2436 ;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar ol {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  float: left;
}

.navbar ol li {
  list-style-type: none;
}

.navbar ol li a {
  margin: 0 200px 0 0;
  text-transform: uppercase;
  font-size: 20px;
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 16px;
  text-decoration: none;
}

.navbar ol li a:hover {
  background-color: #aac6ff ;
}

section {
  height: 100vh;
}

section#home {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 50px;
  text-transform: uppercase;
}

h2, h3 {
  font-weight: normal;
}

h1,h2 {
  margin: 15px;
}

section#projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.project_detail {
  width: 600px;
}

.project_detail img {
  width: 100%;
}

a {
  color: #fff;
}

section#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section#contact ol {
  padding: 0;
  margin: 0;
}

section#contact ol li {
  margin: 0 0 16px 0;
  list-style-type: none;
}

section#resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section#resume ol {
  padding: 0;
  margin: 0;
}

section#resume ol li {
  margin: 0 0 16px 0;
  text-align: center;
  list-style: none;
}
