body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #fff;
  background: linear-gradient(180deg, #1D2F40, #314A59, #54778C, #91afc2 );
}

nav {
  background-color: #91afc2;
}

nav ol {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
}

nav ol li {
  margin-left: 300px;
  list-style-type: none;
}

nav ol li a {
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

section {
  height: 100vh;
}

section#home {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 50px;
  text-transform: uppercase;
}

h2, h3 {
  font-weight: normal;
}

h1,h2 {
  margin: 15px;
}

section#projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.project_detail {
  width: 600px;
  height: 350px;
}

.project_detail img {
  width: 100%;
  height: 100%;
}

a {
  color: #fff;
}

section#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section#contact ol {
  padding: 0;
}

section#contact ol li {
  margin: 0 0 15px 0;
  list-style-type: none;
}
